#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
# Copyright (C) 2021+ WarheadCore <https://github.com/WarheadCore>
#

########################################
# ServerAutoShutdown module configuration
########################################
#
#    ServerAutoShutdown.Enabled
#        Description: Enable to automatically shut down the server, so it can be restarted on a daily basis
#        Default:     0 - Disabled
#                     1 - Enabled
#

ServerAutoShutdown.Enabled = 0

#
#    ServerAutoShutdown.EveryDays
#        Description: Every these days to automatically shut down the server, need big than 0(at lest 1 day) and less then 366(1 year)
#        Default:     1 - Every one day
#

ServerAutoShutdown.EveryDays = 1

#        Description: If set, the server will restart on the specified weekdays at the configured time. Overrides ServerAutoShutdown.EveryDays if set to a valid value.
#                     Weekday bitmask where each day corresponds to a bit position:
#                         Sunday    =  1 = 0b0000001  (2^0)
#                         Monday    =  2 = 0b0000010  (2^1)
#                         Tuesday   =  4 = 0b0000100  (2^2)
#                         Wednesday =  8 = 0b0001000  (2^3)
#                         Thursday  = 16 = 0b0010000  (2^4)
#                         Friday    = 32 = 0b0100000  (2^5)
#                         Saturday  = 64 = 0b1000000  (2^6)
#                     To select multiple days, add the corresponding decimal values.
#                     Examples:
#                         Monday: 2^1 = 2 (binary: 0b0000010), just one day a week
#                         Tuesday and Wednesday: 4 + 8 = 12 (binary: 0b0000100 + 0b0001000 = 0b0001100), both the 2 days a week
#                         Sunday, Friday, Saturday: 1 + 32 + 64 = 97 (binary: 0b0000001 + 0b0100000 + 0b1000000 = 0b1100001),  the selected 3 days a week
#                         All days: 1+2+4+8+16+32+64 = 127 (binary: 0b0000001 + 0b0000010 + 0b0000100 + 0b0001000 + 0b0010000 + 0b0100000 + 0b1000000 = 0b1111111)
#
#        Default:     0 - disabled, use ServerAutoShutdown.EveryDays
#                     1-127 - Enable masked weekdays

ServerAutoShutdown.WeekdayMask = 0

#
#    ServerAutoShutdown.Time
#        Description: Time (in HH:MM:SS) - 24 hours format
#        Default:     04:00:00
#

ServerAutoShutdown.Time = "04:00:00"

#
#    ServerAutoShutdown.PreAnnounce.Seconds
#        Description: Seconds of delay, so the players will be informed about the server restart, less than 86400 second(24 hour)
#        Default:     3600 (1 hour)
#

ServerAutoShutdown.PreAnnounce.Seconds = 3600

#
#    ServerAutoShutdown.PreAnnounce.Message
#        Description: An announcement to be broadcasted in-game
#        Default:     "[SERVER]: Automated (quick) server restart in {}"
#

ServerAutoShutdown.PreAnnounce.Message = "[SERVER]: Automated (quick) server restart in {}"

#
#    ServerAutoShutdown.StartEvents
#        Description: Starts the events listed in the config separated by space whenever the server starts up.
#                     Use this if you wish to start events manually and don't wish them to reset with the daily restart.
#        Example:     "1 2" -- This will start Midsummer Festival (1) and Winter Veil (2) whenever your server restarts.
#        Default:     ""
#

ServerAutoShutdown.StartEvents = ""
